* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1;
}
.header {
	display: grid;
	grid-template-columns: 1fr 3fr;
	background: #060021;
}
.fotous img {
	border: 1px solid black;
	border-radius: 10px;
	width: 58%;
}
.fotous {
	grid-column: 1fr;
}
.Text {
	font-size: 30px;
	width: 40%;
	padding: 40px;
	background: linear-gradient(to right, hsl(34, 100%, 50%), #060021);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.squash_ne_loge {
	font-size: 40px;
	align-self: center;
	margin-bottom: 20px;
	text-transform: uppercase;
}
